.musicscreen1Child {
    position: relative;
    width: 1521.85px;
    height: 0.79px;
    flex-shrink: 0;
    opacity: 0.2;
  }
  .musicscreen1Item {
    position: relative;
    background-color: var(--color-crimson);
    width: 107px;
    height: 3.96px;
    flex-shrink: 0;
  }
  .downloads {
    position: relative;
    z-index: 0;
  }
  .tebogoWedding {
    position: absolute;
    top: 0;
    left: 0;
    font-size: var(--font-size-10xl);
    font-weight: 500;
    color: var(--color-black);
  }
  .january6th2023,
  .songs {
    position: absolute;
    top: 25.37px;
    left: 0;
  }
  .songs {
    left: 91.15px;
  }
  .frameChild,
  .tebogoWeddingParent {
    position: relative;
    width: 124.44px;
    height: 37.25px;
    flex-shrink: 0;
  }
  .frameChild {
    width: 3.17px;
    height: 3.17px;
  }
  .ellipseParent,
  .frameParent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .ellipseParent {
    width: 14.27px;
    flex-shrink: 0;
  }
  .frameParent {
    width: 251.26px;
    z-index: 1;
    font-size: var(--font-size-xs);
    color: var(--color-gray-200);
  }
  .rectangleIcon {
    position: absolute;
    margin: 0 !important;
    height: 64.19%;
    width: 100%;
    top: 16.45%;
    right: 0;
    bottom: 19.36%;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    z-index: 2;
  }
  .downloadsParent {
    height: 298.82px;
    display: flex;
    flex-direction: column;
    padding: 9.511533737182617px 0 0;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
  }
  .leftbottomInner {
    padding: 84.8111801147461px 0 var(--padding-xs) 75.2996597290039px;
  }
  .bottomscreen,
  .leftbottom,
  .leftbottomInner {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .leftbottom {
    flex: 1;
    height: 795.01px;
    padding: 4.755766868591309px 0;
    box-sizing: border-box;
  }
  .bottomscreen {
    align-self: stretch;
    gap: var(--gap-2xs);
  }
  .musicscreen1 {
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0 3.170511484146118px 3.17px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 1111px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.38px;
    text-align: left;
    font-size: var(--font-size-27xl);
    color: var(--color-black);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1428px) {
    .leftbottom {
      display: none;
    }
  }
  @media screen and (max-width: 650px) {
    .musicscreen1 {
      width: auto;
      height: auto;
    }
  }
  