.navbarChild {
  position: absolute;
  top: 64.5px;
  left: 0;
  width: 1920px;
  height: 1px;
  opacity: 0.2;
}
.home,
.icon {
  position: absolute;
  top: 0;
  height: 32px;
}
.icon {
  left: 0;
  width: 32px;
  overflow: hidden;
}
.home {
  left: 42.67px;
  font-weight: 500;
  display: inline-block;
  width: 64px;
}
.parent {
  text-decoration: none;
  position: relative;
  width: 106.67px;
  height: 32px;
  flex-shrink: 0;
  color: inherit;
}
.cameraVideoIcon1Parent:hover,
.groupA:hover,
.groupContainer:hover,
.parent:hover,
.vectorParent:hover {
  cursor: pointer;
}
.studioManagement {
  position: absolute;
  top: 0;
  left: 70px;
  display: inline-block;
  width: 219px;
  height: 32px;
  cursor: pointer;
}
.cameraVideoIcon1Parent {
  text-decoration: none;
  position: relative;
  width: 289px;
  height: 32px;
  flex-shrink: 0;
  color: inherit;
}
.groupChild,
.groupInner,
.groupItem,
.rectangleDiv {
  position: absolute;
  height: 47.83%;
  width: 47.83%;
  top: 52.17%;
  right: 52.17%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xs);
  border: 1.5px solid var(--color-crimson);
  box-sizing: border-box;
}
.groupInner,
.groupItem,
.rectangleDiv {
  top: 0;
  bottom: 52.17%;
}
.groupInner,
.rectangleDiv {
  top: 52.17%;
  right: 0;
  bottom: 0;
  left: 52.17%;
}
.rectangleDiv {
  top: 0;
  bottom: 52.17%;
}
.groupFrame,
.groupWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.groupWrapper {
  height: 79.17%;
  width: 18.18%;
  top: 10.42%;
  right: 81.82%;
  bottom: 10.42%;
}
.gallery {
  position: absolute;
  top: 0;
  left: 63.33px;
  display: inline-block;
  width: 76px;
  height: 32px;
  cursor: pointer;
}
.groupContainer {
  text-decoration: none;
  position: relative;
  width: 139.33px;
  height: 32px;
  flex-shrink: 0;
  color: inherit;
}
.vectorIcon {
  position: absolute;
  top: 3px;
  left: -1px;
  width: 30px;
  height: 26px;
}
.assetRegistry,
.assetRegistryWrapper {
  position: absolute;
  top: 0;
  width: 149.33px;
  height: 32px;
}
.assetRegistry {
  left: 0;
  display: inline-block;
}
.assetRegistryWrapper {
  left: 66px;
  cursor: pointer;
}
.vectorParent {
  text-decoration: none;
  position: relative;
  width: 215.33px;
  height: 32px;
  flex-shrink: 0;
  color: inherit;
}
.groupIcon {
  position: absolute;
  height: 100%;
  width: 24.12%;
  top: 0;
  right: 75.88%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.music,
.musicWrapper {
  position: absolute;
  top: 0;
  width: 62.67px;
  height: 32px;
}
.music {
  left: 0;
  display: inline-block;
}
.musicWrapper {
  left: 70px;
  cursor: pointer;
}
.groupA {
  text-decoration: none;
  position: relative;
  width: 132.67px;
  height: 32px;
  flex-shrink: 0;
  color: inherit;
}
.groupParent {
  position: absolute;
  right: 463px;
  bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 38px;
}
.navbar {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 65px;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-gray-200);
  font-family: var(--font-poppins);
}
