.frameChild {
  position: absolute;
  top: 321.15px;
  left: 0;
  width: 266.61px;
  height: 0.81px;
}
.frameItem,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 288.83px;
  width: 0.81px;
  height: 759.45px;
}
.vectorIcon {
  height: 1.71%;
  width: 3.48%;
  top: 1.11%;
  right: 38.1%;
  bottom: 97.18%;
  left: 58.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameInner {
  background-color: var(--color-gainsboro);
}
.frameInner,
.rectangleWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 264.19px;
  height: 168.86px;
}
.frameGroup,
.rectangleContainer,
.rectangleDiv {
  position: absolute;
  left: 0;
  width: 264.19px;
  height: 42.82px;
}
.rectangleDiv {
  top: 0;
  background-color: var(--color-darkslategray-200);
}
.frameGroup,
.rectangleContainer {
  top: 63.02px;
}
.frameGroup {
  top: 90.49px;
  left: 2.42px;
  height: 168.86px;
}
.changeCover {
  position: absolute;
  top: 0;
  left: 28px;
  font-weight: 500;
}
.vectorIcon1 {
  position: absolute;
  height: 76.19%;
  width: 9.07%;
  top: 18.32%;
  right: 90.93%;
  bottom: 5.49%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.changeCoverParent {
  position: absolute;
  top: 168.86px;
  left: 74.6px;
  width: 111px;
  height: 17px;
}
.settings {
  position: relative;
  font-weight: 500;
}
.settingsWrapper {
  position: absolute;
  top: 54.94px;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.groupIcon {
  position: relative;
  width: 19.75px;
  height: 20.91px;
  flex-shrink: 0;
}
.div,
.lineDiv {
  position: absolute;
}
.div {
  top: 0;
  left: 10.5px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-xs);
  align-items: center;
  justify-content: center;
}
.lineDiv {
  top: 33.93px;
  left: -0.81px;
  border-top: 1.6px solid var(--color-crimson);
  box-sizing: border-box;
  width: 46.86px;
  height: 1.62px;
}
.frameDiv,
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 73.94px;
}
.groupChild {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: var(--br-md);
  background-color: var(--color-black);
}
.publish {
  position: absolute;
  top: 6.7px;
  left: 41.15px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 124.66px;
  height: 32.38px;
  flex-shrink: 0;
}
.publishbutton {
  position: absolute;
  top: 271.23px;
  left: 143.06px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.groupItem {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-crimson);
}
.preview {
  position: absolute;
  top: 6.7px;
  left: 40.61px;
  font-size: var(--font-size-xl);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.rectangleGroup {
  position: relative;
  width: 124.66px;
  height: 32.38px;
  flex-shrink: 0;
}
.previewbutton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 271.23px;
  left: 0.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vectorIcon2 {
  position: relative;
  width: 2.83px;
  height: 12.72px;
  flex-shrink: 0;
}
.collectionSettings {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 500;
}
.collectionSettingsWrapper {
  position: relative;
  width: 91px;
  height: 15px;
  flex-shrink: 0;
}
.vectorParent {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
  color: inherit;
}
.vectorGroup:hover,
.vectorContainer:hover,
.vectorParent:hover {
  cursor: pointer;
}
.designWrapper,
.vectorIcon3 {
  position: relative;
  width: 12.12px;
  height: 11.31px;
  flex-shrink: 0;
}
.designWrapper {
  width: 34px;
  height: 15px;
}
.vectorGroup {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-2xs);
  color: inherit;
}
.privacyWrapper,
.vectorIcon4 {
  position: relative;
  width: 10.5px;
  height: 12.93px;
  flex-shrink: 0;
}
.privacyWrapper {
  width: 35px;
  height: 15px;
}
.vectorContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.downloadWrapper,
.vectorIcon5 {
  position: relative;
  width: 12.12px;
  height: 12.12px;
  flex-shrink: 0;
}
.downloadWrapper {
  width: 49px;
  height: 15px;
}
.frameA,
.sidebarbuttons {
  display: flex;
  justify-content: center;
}
.frameA {
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-2xs);
  cursor: pointer;
  color: inherit;
}
.sidebarbuttons {
  position: absolute;
  top: 106.65px;
  left: 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-lg);
  font-size: var(--font-size-lg);
}
.frameContainer,
.frameParent {
  position: absolute;
  top: 286.81px;
  left: 1.62px;
  width: 267.71px;
  height: 303.6px;
  font-size: var(--font-size-4xl);
  color: var(--color-black);
}
.frameParent {
  top: 0;
  left: 0;
  width: 289px;
  height: 759px;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
