.collection,
.cover {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.collection {
  left: 69.75px;
}
.coverParent,
.frameChild {
  position: absolute;
  top: 0;
  left: 7.67px;
  width: 123.75px;
  height: 16px;
}
.frameChild {
  top: 26.06px;
  left: -0.77px;
  border-top: 1.5px solid var(--color-crimson);
  box-sizing: border-box;
  width: 45.99px;
  height: 1.53px;
}
.frameContainer {
  position: relative;
  width: 131.42px;
  height: 26.83px;
  flex-shrink: 0;
}
.cover1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.vectorIcon {
  position: absolute;
  top: 3.83px;
  left: calc(50% + 20.24px);
  width: 8.43px;
  height: 9.2px;
}
.coverGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 57.33px;
  height: 16px;
}
.focalPoint {
  position: absolute;
  top: 0;
  left: 17.63px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.frameItem {
  position: absolute;
  top: 3.07px;
  left: 0;
  width: 9.85px;
  height: 9.85px;
}
.focalPointParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 63.62px;
  width: 76.63px;
  height: 16px;
}
.frameDiv {
  position: relative;
  width: 140.25px;
  height: 16px;
  flex-shrink: 0;
}
.frameGroup {
  width: 613px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frameIcon,
.frameInner {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameIcon {
  top: 82.02px;
  left: 432.31px;
}
.frameParent1 {
  position: relative;
  width: 639px;
  height: 323px;
  flex-shrink: 0;
}
.designsettingsInner,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameParent {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.designsettingsInner {
  background-color: var(--color-whitesmoke-100);
  width: 671px;
  height: 449.29px;
  flex-shrink: 0;
  padding: var(--padding-xl) 0 var(--padding-xl) var(--padding-xl);
  box-sizing: border-box;
  justify-content: space-between;
}
