.sortBy,
.subnavigationChild {
  font-size: var(--font-size-10xl);
  font-family: var(--font-poppins);
}
.subnavigationChild {
  border: 0;
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  padding: var(--padding-22xs) var(--padding-10xs);
  align-items: center;
  justify-content: flex-start;
}
.sortBy {
  position: relative;
  color: var(--color-gray-200);
  text-align: left;
}
.vectorIcon {
  position: relative;
  width: 11.1px;
  height: 9.51px;
  flex-shrink: 0;
}
.sortByParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-22xs) var(--padding-3xl);
  background-color: var(--color-whitesmoke-200);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.downloads {
  position: relative;
  font-size: var(--font-size-10xl);
  font-family: var(--font-poppins);
  color: var(--color-black);
  text-align: left;
}
.vectorIcon1 {
  position: relative;
  width: 11.89px;
  height: 11.89px;
  flex-shrink: 0;
}
.downloadsParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-22xs) var(--padding-3xs);
  background-color: var(--color-goldenrod);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.collections {
  position: relative;
  font-size: var(--font-size-10xl);
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.vectorIcon2 {
  position: relative;
  width: 11.89px;
  height: 11.1px;
  flex-shrink: 0;
}
.collectionsParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-22xs) var(--padding-10xs);
  background-color: var(--color-crimson);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.musiclistcontainer,
.subnavigation {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.musiclistcontainer {
  flex-direction: column;
  padding: 0 var(--padding-17xl) 0 var(--padding-16xl);
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.placeImageHere {
  position: absolute;
  height: 100%;
  width: 32.39%;
  top: 0;
  right: 67.61%;
  bottom: 0;
  left: 0;
  border-radius: var(--br-sm);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.helenStone,
.moonGazing {
  position: absolute;
  left: 42.1%;
  display: inline-block;
}
.moonGazing {
  width: 63.56%;
  top: calc(50% - 23.78px);
  font-weight: 500;
}
.helenStone {
  width: 38.46%;
  top: calc(50% + 4.75px);
  font-size: var(--font-size-10xl);
  color: var(--color-black);
  opacity: 0.7;
  mix-blend-mode: normal;
}
.song {
  position: relative;
  width: 207.23px;
  height: 63.41px;
  flex-shrink: 0;
  overflow: hidden;
}
.ovalBg,
.ovalIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.ovalIcon {
  width: 100%;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ovalBg {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 25%;
  right: 37.5%;
  left: 37.5%;
}
.iconPause {
  position: relative;
  width: 11.73px;
  height: 14.27px;
}
.iconMusicAudioPause {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.5%;
  width: 9.37%;
  top: 31.25%;
  right: 45.31%;
  bottom: 31.25%;
  left: 45.31%;
}
.iconRewind {
  position: relative;
  width: 18.44px;
  height: 12.68px;
}
.iconMusicAudioPauseC {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.5%;
  width: 9.37%;
  top: 31.25%;
  right: 71.87%;
  bottom: 31.25%;
  left: 18.75%;
}
.iconRotateCcw {
  position: absolute;
  height: 83.34%;
  width: 91.67%;
  top: 8.33%;
  right: 4.15%;
  bottom: 8.33%;
  left: 4.18%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconMusicAudioPauseC1,
.iconMusicAudioPauseC2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.5%;
  width: 9.37%;
  top: 31.25%;
  right: 90.63%;
  bottom: 31.25%;
  left: 0;
}
.iconMusicAudioPauseC2 {
  right: 18.75%;
  left: 71.88%;
}
.iconShuffle {
  position: relative;
  width: 15.92px;
  height: 15.85px;
}
.iconMusicAudioPauseC3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 37.5%;
  width: 9.37%;
  top: 31.25%;
  right: 0;
  bottom: 31.25%;
  left: 90.63%;
}
.playerControl {
  width: 214.53px;
  height: 50.73px;
  flex-shrink: 0;
}
.div,
.playerControl {
  position: relative;
}
.lineIcon,
.lineIcon1,
.ovalBg1 {
  position: absolute;
  height: 25.01%;
  width: 102%;
  top: 40.63%;
  right: -1%;
  bottom: 34.36%;
  left: -1%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.lineIcon1,
.ovalBg1 {
  width: 55.5%;
  right: 45.5%;
}
.ovalBg1 {
  height: 100%;
  width: 8%;
  top: 0;
  right: 40%;
  bottom: 0;
  left: 52%;
}
.lineParent {
  position: relative;
  width: 158.53px;
  height: 12.68px;
  flex-shrink: 0;
}
.timerControl {
  width: 252.1px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-10xl);
  color: var(--color-darkgray-200);
  font-family: var(--font-roboto);
}
.upNext,
.winnieGordon {
  position: absolute;
  display: inline-block;
}
.upNext {
  width: 77.31%;
  top: calc(50% - 23.77px);
  left: 21.85%;
  font-weight: 500;
}
.winnieGordon {
  width: 100%;
  top: calc(50% + 4.77px);
  left: 0;
  font-size: var(--font-size-10xl);
  color: var(--color-black);
  opacity: 0.7;
  mix-blend-mode: normal;
}
.upNextParent {
  position: relative;
  width: 99.72px;
  height: 47.54px;
  flex-shrink: 0;
  text-align: right;
}
.musicPlayer,
.rightbottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.musicPlayer {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-10xl) 0 0;
  font-size: var(--font-size-27xl);
  color: var(--color-crimson);
}
.rightbottom {
  height: 795.6px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-14xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-10xl);
  color: var(--color-gray-400);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1428px) {
  .rightbottom {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .subnavigation {
    gap: var(--gap-12xl);
  }
  .musiclistcontainer {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 850px) {
  .musiclistcontainer {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .musicPlayer {
    flex-direction: column;
    padding-top: var(--padding-8xs);
    box-sizing: border-box;
  }
}
