.div {
    position: relative;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .iconBasicUiHeart,
  .placeImageHere {
    position: relative;
    width: 19.02px;
    height: 19.02px;
    flex-shrink: 0;
  }
  .placeImageHere {
    border-radius: var(--br-sm);
    width: 38.05px;
    height: 38.05px;
    object-fit: cover;
  }
  .picturesInThe {
    position: relative;
    font-family: var(--font-poppins);
    color: var(--color-black);
  }
  .parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-roboto);
  }
  .lineIcon {
    position: absolute;
    height: 25.01%;
    width: 102%;
    top: 34.37%;
    right: -1%;
    bottom: 40.61%;
    left: -1%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .lineIcon1,
  .ovalBg {
    position: relative;
    width: 87.98px;
    height: 3.17px;
    flex-shrink: 0;
  }
  .ovalBg {
    width: 12.68px;
    height: 12.68px;
  }
  .lineGroup {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .lineParent {
    position: relative;
    width: 158.53px;
    height: 12.68px;
    flex-shrink: 0;
  }
  .francisTylerParent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--color-crimson);
  }
  .vectorIcon {
    position: relative;
    width: 14.27px;
    height: 14.27px;
    flex-shrink: 0;
  }
  .frameParent,
  .group,
  .musiclist {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .group {
    width: 198.95px;
    flex-shrink: 0;
    justify-content: space-between;
  }
  .frameParent,
  .musiclist {
    justify-content: flex-start;
  }
  .frameParent {
    flex: 1;
    gap: var(--gap-16xl);
  }
  .musiclist {
    align-self: stretch;
    border-radius: var(--br-sm);
    background-color: var(--color-white);
    box-shadow: 0 3.170511484146118px 9.51px rgba(0, 0, 0, 0.1);
    padding: var(--padding-16xs) var(--padding-xs);
    text-align: left;
    font-size: var(--font-size-10xl);
    color: var(--color-gray-400);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 650px) {
    .musiclist {
      padding-left: 0;
      padding-right: 0;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 850px) {
    .parent {
      gap: var(--gap-9xs);
    }
    .frameParent,
    .group,
    .musiclist {
      gap: var(--gap-9xs);
      align-items: center;
      justify-content: flex-start;
    }
    .frameParent,
    .musiclist {
      gap: var(--gap-7xs);
    }
    .musiclist {
      width: 50%;
      gap: var(--gap-17xs);
      padding-left: 0;
      padding-right: var(--padding-18xs);
      box-sizing: border-box;
    }
  }
  