.div {
    position: relative;
    font-family: var(--font-roboto);
    display: inline-block;
    width: 8px;
    flex-shrink: 0;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .iconBasicUiHeart,
  .placeImageHere {
    position: relative;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }
  .placeImageHere {
    border-radius: var(--br-xs);
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  .francisTyler,
  .picturesInThe {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
  }
  .picturesInThe {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    color: var(--color-black);
    width: 121.92px;
  }
  .francisTyler {
    color: var(--color-crimson);
    width: 82.95px;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .lineIcon {
    width: 170px;
    height: 3.33px;
  }
  .div1,
  .lineIcon,
  .vectorIcon {
    position: relative;
    flex-shrink: 0;
  }
  .div1 {
    display: inline-block;
    width: 26.98px;
    opacity: 0.7;
    mix-blend-mode: normal;
  }
  .vectorIcon {
    width: 15.01px;
    height: 15.01px;
    cursor: pointer;
  }
  .musiclist {
    position: absolute;
    top: 128px;
    left: 49px;
    border-radius: var(--br-xs);
    background-color: var(--color-white);
    box-shadow: 0 3.335416793823242px 10.01px rgba(0, 0, 0, 0.1);
    width: 1087px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-8xs) var(--padding-lg);
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: var(--font-size-14xl);
    color: var(--color-gray-400);
    font-family: var(--font-poppins);
  }
  