.collectionSettings {
    margin: 0;
    position: relative;
    font-size: var(--font-size-11xl);
    font-weight: 500;
    font-family: inherit;
    color: var(--color-black);
  }
  .mainCollectionSettingChild {
    position: relative;
    width: 1068.07px;
    height: 0.81px;
    flex-shrink: 0;
    opacity: 0.2;
  }
  .pickSomethingShort {
    position: relative;
    font-weight: 500;
  }
  .pickSomethingShortAndSweetWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .giveYourCollection {
    margin: 0;
    position: relative;
    font-weight: 500;
  }
  .collectionStatus {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 500;
  }
  .form,
  .icon {
    position: absolute;
  }
  .form {
    border: 1.6px solid var(--light-mode-form1);
    background-color: transparent;
    height: 49.02%;
    width: 100%;
    top: 42.16%;
    right: 0;
    bottom: 8.82%;
    left: 0;
    border-radius: var(--br-sm);
    box-sizing: border-box;
  }
  .icon {
    height: 20.59%;
    width: 2.67%;
    top: 56.86%;
    right: 1.53%;
    bottom: 22.55%;
    left: 95.8%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .client {
    position: relative;
    width: 635.03px;
    height: 82.41px;
    flex-shrink: 0;
  }
  .clientWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-6xl);
    color: var(--color-main-text1);
  }
  .form1,
  .socialSharingButtons {
    position: relative;
    flex-shrink: 0;
  }
  .socialSharingButtons {
    cursor: pointer;
    font-weight: 500;
    display: inline-block;
    width: 188px;
    height: 22px;
  }
  .form1 {
    border: 1.6px solid var(--light-mode-form1);
    background-color: transparent;
    border-radius: var(--br-sm);
    box-sizing: border-box;
    width: 639.85px;
    height: 40.47px;
  }
  .socialSharingButtonsParent {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-3xs);
  }
  .mainCollectionSettingInner {
    position: relative;
    width: 639.85px;
    height: 75.51px;
    flex-shrink: 0;
    font-size: var(--font-size-6xl);
    color: var(--color-main-text1);
  }
  .mainCollectionSetting {
    position: absolute;
    top: 11.31px;
    right: -159.08px;
    height: 744.55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-gray-100);
    font-family: var(--font-poppins);
  }



  .generatebutton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .generateButtonParent {
    cursor: pointer;
    border: 0;
    /* padding: 0; */
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
  }
  

  .groupChild {
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    border-radius: var(--br-md);
    background-color: var(--color-black);
  }
  .publish {
    position: absolute;
    top: 6.7px;
    left: 41.15px;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-poppins);
    color: var(--color-black);
    text-align: center;
  }