.artboard134x81 {
    position: relative;
    width: 106.21px;
    height: 31.71px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frameChild,
  .frameItem,
  .icon {
    position: absolute;
    top: 4.22px;
    left: 0.01px;
    width: 76.1px;
    height: 25.36px;
  }
  .frameItem,
  .icon {
    top: 3.96px;
    left: 322.07px;
    width: 25.36px;
    overflow: hidden;
  }
  .icon {
    top: 8.72px;
    left: 280.06px;
    width: 16.64px;
    height: 16.64px;
  }
  .kateMadileng {
    position: absolute;
    top: 3.96px;
    left: 143.73px;
    font-weight: 500;
    display: inline-block;
    width: 123.65px;
    height: 25.36px;
  }
  .maskGroupIcon {
    position: absolute;
    top: 0;
    left: 101.46px;
    width: 33.82px;
    height: 33.82px;
    object-fit: cover;
  }
  .groupParent {
    position: relative;
    width: 347.43px;
    height: 33.82px;
    flex-shrink: 0;
  }
  .artboard134x81Parent,
  .topbar {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .topbar {
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    padding: var(--padding-9xs) var(--padding-9xl);
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: var(--font-size-10xl);
    color: var(--color-darkslategray-100);
    font-family: var(--font-poppins);
  }
  