@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 6.94px;
  --font-size-sm: 7.67px;
  --font-size-base: 8.08px;
  --font-size-lg: 9.02px;
  --font-size-xl: 9.2px;
  --font-size-2xl: 9.7px;
  --font-size-3xl: 10.73px;
  --font-size-4xl: 10.5px;
  --font-size-5xl: 10px;
  --font-size-6xl: 11.67px;
  --font-size-7xl: 11.68px;
  --font-size-8xl: 11.1px;
  --font-size-9xl: 11.31px;
  --font-size-10xl: 12.26px;
  --font-size-11xl: 12.55px;
  --font-size-12xl: 12.93px;
  --font-size-13xl: 12px;
  --font-size-14xl: 13.33px;
  --font-size-15xl: 13.35px;
  --font-size-16xl: 14.35px;
  --font-size-17xl: 14.54px;
  --font-size-18xl: 15px;
  --font-size-19xl: 15.01px;
  --font-size-20xl: 16px;
  --font-size-21xl: 16.05px;
  --font-size-22xl: 16.14px;
  --font-size-23xl: 16.65px;
  --font-size-24xl: 18px;
  --font-size-25xl: 19.39px;
  --font-size-26xl: 20px;
  --font-size-27xl: 20.02px;
  --font-size-28xl: 21.52px;
  --font-size-29xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #838383;
  --color-gray-200: #252525;
  --color-main-text1: #222132;
  --color1: #080b23;
  --color-gray-500: #030303;
  --color-crimson: #ec1a25;
  --color: #a8a8a8;
  --color-hotpink-100: #fa77ac;
  --color-hotpink-200: #f074b6;
  --color-hotpink-300: #ff569a;
  --color-palevioletred: #d5629f;
  --color-whitesmoke-100: #f4f4f4;
  --color-whitesmoke-200: #f2f2f2;
  --light-mode-form1: #efefef;
  --color-black: #000;
  --color-lavenderblush: #ffdef2;
  --color-darkslategray-100: #363636;
  --color-darkslategray-200: #333;
  --color-darkslategray-300: rgba(54, 54, 54, 0.58);
  --color-gainsboro-100: #e7e5e5;
  --color-gainsboro-200: #d9d9d9;

  /* Gaps */
  --gap-0: 0px;
  --gap-12xs: 1.2px;
  --gap-11xs: 2px;
  --gap-10xs: 4px;
  --gap-9xs: 7px;
  --gap-8xs: 8px;
  --gap-7xs: 10px;
  --gap-6xs: 11px;
  --gap-5xs: 13px;
  --gap-4xs: 14px;
  --gap-3xs: 15px;
  --gap-2xs: 15.06px;
  --gap-xs: 16px;
  --gap-sm: 17px;
  --gap-md: 18px;
  --gap-lg: 18.29px;
  --gap-xl: 19px;
  --gap-2xl: 19.37px;
  --gap-3xl: 20.44px;
  --gap-4xl: 24px;
  --gap-5xl: 25px;
  --gap-6xl: 27px;
  --gap-7xl: 32px;
  --gap-8xl: 35px;
  --gap-9xl: 45px;
  --gap-10xl: 46px;
  --gap-11xl: 49px;
  --gap-12xl: 975px;
  --gap-13xl: 1144px;

  /* Paddings */
  --padding-12xs: 2px;
  --padding-11xs: 3px;
  --padding-10xs: 4px;
  --padding-9xs: 7px;
  --padding-8xs: 8px;
  --padding-7xs: 10px;
  --padding-6xs: 15px;
  --padding-5xs: 16.140647888183594px;
  --padding-4xs: 18px;
  --padding-3xs: 20px;
  --padding-2xs: 21px;
  --padding-xs: 21.520862579345703px;
  --padding-sm: 22px;
  --padding-md: 24px;
  --padding-lg: 30px;
  --padding-xl: 32px;
  --padding-2xl: 41px;
  --padding-3xl: 49px;
  --padding-4xl: 50px;
  --padding-5xl: 67px;
  --padding-6xl: 81px;
  --padding-7xl: 89px;
  --padding-8xl: 97px;
  --padding-9xl: 108.24323272705078px;
  --padding-10xl: 120.27025604248047px;
  --padding-11xl: 381px;
  --padding-12xl: 391px;

  /* border radiuses */
  --br-7xs: 1.67px;
  --br-6xs: 1.39px;
  --br-5xs: 2px;
  --br-4xs: 4.16px;
  --br-3xs: 4.04px;
  --br-2xs: 4.85px;
  --br-xs: 5px;
  --br-sm: 6px;
  --br-md: 8.33px;
  --br-lg: 8.34px;
  --br-xl: 8.97px;
  --br-2xl: 20px;
  --br-3xl: 20.02px;
  --br-4xl: 21.52px;
  --br-5xl: 83.33px;
  --br-6xl: 83.42px;
  --br-7xl: 89.67px;
}